body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
  margin-inline: 10px;
}

/*   .content-box */
.content-box {
  width: 63%;
  text-align: center;
  background-color: #edeff2;
  padding: 20px;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h4 {
  text-align: start;
  margin-bottom: 0;
}

div ul {
  text-align: start;
  margin-right: 10px;
  padding-right: 0;
  list-style-position: inside;
}

/* ميديا كويري للجوال */
@media (max-width: 768px) {
  .content-box {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
  }

  .img-1 {
    width: 100%;
    display: block;
    margin: auto;
  }
}
