/* الصفحة */
.about-page {
  display: grid;
  gap: 40px;
  padding: 40px;
  max-width: 600px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #333;
  direction: rtl;
  margin: 50px auto;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

span {
  text-align: start;
  color: #030303;
  font-size: 22px;
}
.card2 {
  background-color: rgb(231, 233, 234);
  width: 600px;
  max-width: 100%;
  text-align: center;
  border-radius: 20px;
  transition: transform 0.3s;
  direction: rtl;
  margin-bottom: 20px;
  padding-top: 10px;
}

.p11 {
  padding: 10px;
  margin: 20px;
  text-align: justify;
}

.head-page h3 {
  color: #006c74;
  margin-bottom: 10px;
}

.head-page p11 {
  color: #777;
  font-size: 15px;
  margin-top: 0;
}

.head-img {
  margin: 20px 0;
  text-align: center;
}

.head-img img {
  max-width: 100%;
  border-radius: 6px;
}

.p11 span {
  /* font-weight: bold; */
  color: #444;
}

/*  للجوال*/
@media (max-width: 768px) {
  .about-page {
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .card2 {
    width: 100%;
    margin: 10px 0;
  }

  .head-page h3 {
    font-size: 18px;
  }

  .p11 {
    font-size: 14px;
    margin: 10px;
    padding: 8px;
  }

  span {
    font-size: 18px;
  }
}
